<header class="navbar">
  <div class="nav-container">
    <h1 class="logo">Airbnb</h1>

    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/host/add-home" class="nav-btn">Add Home</a>
    </nav>
  </div>
</header>