<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/homeAdded.css">
  <link rel="stylesheet" href="/navbar.css">

  <title>Home Added Successfully</title>
</head>

<body>
  <%- include("partials/navbar") %>

    <h1>Home Registered Successfully</h1>
    <a href="/">Go to Home</a>
</body>

</html>